@import "../styles/app.scss";

.login-container{
    simple-notifications .simple-notification-wrapper{
        position: absolute;
        min-width: 25%;
    }
}
.k-notification-wrap > .k-notification-content {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  font-size: 50px !important;
}

.login-form{
    .err-login-msg{
    }
}

