
<!-- <div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Login for Form 1</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Email *" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Your Password *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
                <div class="form-group">
                    <a href="#" class="ForgetPwd">Forget Password?</a>
                </div>
            </form>
        </div>
        <div class="col-md-6 login-form-2">
            <h3>Login for Form 2</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Email *" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Your Password *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
                <div class="form-group">

                    <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
                </div>
            </form>
        </div>
    </div>
</div> -->

<h1 class="text-center mt-5">Application Login</h1>
<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-10 col-md-6">
      <div class="card border-info">
        <div class="card-header">Sign in to continue...</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="./assets/other-media/login-key.png" [ngStyle]="{'width':'128px','height':'128px'}">
              <h4 class="text-center">ABC Ltd</h4>
            </div>
            <div class="col-md-8">
                <form #f="ngForm" (ngSubmit)="loginSubmit(f)" novalidate>
                <input type="text" kendoTextBox class="form-control mb-2" placeholder="Username" [(ngModel)]="loginForm.username" #email="ngModel" id="username" name="username" class="form-control" required>
                <input type="password" kendoTextBox class="form-control mb-2" [(ngModel)]="loginForm.password" placeholder="Password"  name = "password" required>
                <button type="button" kendoButton  class="k-button k-primary mb-1" type="submit">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <kendo-dialog>
      <kendo-dialog-titlebar>
        <div style="font-size: 18px; line-height: 1.3em;">
          {{dialogTitle}}
        </div>
      </kendo-dialog-titlebar>
      <p style="margin: 30px; text-align: center;">{{dialogText}}</p>
  </kendo-dialog>
</div>

<!-- <kendo-dialog class="smallDialogBox" title="{{dialogTitle}}" *ngIf="errDialog" (close)="closeDialog()" [ngStyle]="{'min-width' : '250px', 'width' : '450px'}">
    <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
        <span aria-hidden="true">&times;</span>
    </button>
    <p [ngStyle]="{'margin' : '30px', 'text-align' : 'center'}">{{dialogText}}</p>
</kendo-dialog> -->






<!-- <div class="login-form">
  <form #f="ngForm" (ngSubmit)="loginSubmit(f)" novalidate>
    <div class="form-group">
      <label for="email">Username:</label>
      {{loginForm.username}}
      <input type="text" [(ngModel)]="loginForm.username" #email="ngModel" id="username" name="username" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" [(ngModel)]="loginForm.password"  name = "password" required>
    </div>
    #{{email.invalid}}
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
  </form>
</div> -->

